html {
}

body {
  background: url(../img/back.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #ffac9b;
}

#login-title {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: white;
}

#login-box, #reg-window {
  input {
    margin-bottom: 10px;
  }
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* text-align: center; */
  padding-left: 50px;
}

#login-box > * {
  width: 20rem;
}

.signup {
  text-align: center;
  margin: 0px;
  padding: 2px;
  &:hover {
    font-weight: bold;
    color: white;
  }
  &:active {
    color: grey;
  }
}

#lock-icon::before {
  vertical-align: top;
  margin-bottom: 10px;
}

.reg-div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
