body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 100px;
  width: 100%;
  overflow-y: scroll;
}

.top-block {
  display: flex;
  flex-flow: row;
}

#todo-header {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding-right: 100px;
  padding-top: 30px;
  color: white;
  text-shadow: 1px 1px 2px rgba(203, 203, 208, 1);
}

#tasklist {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.task {
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background-color: white;
    .description, .deadline, .tag {
      color: orange;
    }
  }
}

.description, .deadline, .tag {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;
  div {
    .button {
      background: none;
    }
  }
}

.deadline {
  padding-left: 50px;
}

.tag {
  padding-right: 10px;
  height: 30px;
}


.first-line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.first-line > * {
  padding-right: 10px;
}

.bottom-line {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  vertical-align: middle;
  padding-top: 5px;
  .field {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ui.button {
    height: 35px;
  }
}

.checkmark.icon, .remove.icon {
  &:hover {
    color: red;
  }
  &:active {
    background-color: green;
  }
}
