body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 100px;
  width: 100%;
  overflow-y: scroll;
}

.top-block {
  display: flex;
  flex-flow: row;
}

#todo-header {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding-right: 100px;
  padding-top: 30px;
  color: white;
  text-shadow: 1px 1px 2px rgba(203, 203, 208, 1);
}

#tasklist {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  justify-content: center;
}

#order {
  width: 20%;
  padding-right: 0px;
  margin-right: 0px;
}

.ui.icon.menu {
  display: flex;
  flex-flow: column;
  .item {
    background-color: rgba(255,255,255,0.8)!important;
    &:hover {
      background-color: #fff4a5!important;
    }
    &:active {
      background-color: lightgrey!important;
    }
  }
  .item.active {
    background-color: orange!important;
  }
}

#list-items {
  width: 100%;
}

.task {
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background-color: white;
    .description, .deadline, .tag {
      color: orange;
    }
  }
}
.checked {
  color: #56987c;
  background-color: #d7c782;
  .checkmark.icon {
    color: #56987c;
  }
}
.description, .deadline, .tag {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;
  div {
    .button {
      background: none;
    }
  }
}

.deadline {
  padding-left: 50px;
}

.tag {
  padding-right: 10px;
  height: 30px;
}


.first-line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.first-line > * {
  padding-right: 10px;
}

.bottom-line {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  vertical-align: middle;
  padding-top: 5px;
  .field {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ui.button {
    height: 35px;
  }
}

.checkmark.icon, .remove.icon {
  &:hover {
    color: red;
  }
  &:active {
    background-color: green;
  }
}

#alarm {
  visibility: hidden;
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  i {
    height: 300px!important;
    width: 300px!important;
    &::before {
      font-size: 200px;
    }
    &:active {
      color: #d7c782;
    }
  }
  .ui.header {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    &:active {
      color: #d7c782;
    }
  }
}
