<div class='everythin' style="margin-left: 0px; padding-left: 0px;">
  <div class="top-block">
    <h2 id="todo-header" class="ui top left aligned header">
      <i class="circular list layout icon"></i>
      TASKS
    </h2>
    <div>

      <div class="ui form">
        <div class="first-line">
          <div class="field">
            <input type="text" placeholder="new task" ng-model="task_name">
          </div>
          <div class="field">
            <select class="ui search dropdown" ng-model="type">
              <option value="">choose category</option>
              <option value="housework">housework</option>
              <option value="shopping">shopping</option>
              <option value="child">childcare</option>
              <option value="traveling">traveling</option>
              <option value="money">bank/bills</option>
              <option value="pet">pet</option>
              <option value="work">work</option>
              <option value="study">studies</option>
              <option value="fun">fun</option>
              <option value="other">other</option>
            </select>
          </div>
          <div class="field">
            <select class="ui search dropdown" ng-model="priority">
              <option value="">choose priority</option>
              <option value="high">high</option>
              <option value="important">important</option>
              <option value="middle">middle</option>
              <option value="middle">not so important</option>
            </select>
          </div>
        </div>
        <textarea input="text" placeholder="some more details" style="height: 40px;" ng-model="description"></textarea>
        <div class="bottom-line">
          <div class="ui checkbox">
            <input type="checkbox" required ng-model="checked">
            <label>Do you want to set a reminder?</label>
          </div>
          <div class="field">
            <input type="date" ng-model="date">
          </div>
          <div class="ui red button" ng-click="addTask()">ADD</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="ui grid"> -->
  <!-- <div class="twelve wide stretched column"> -->
    <!-- <div class="ui segment"> -->


    <div id="order" style="display: flex; flex-flow: row; justify-content: space-between; width: 100%; " >
      <div class="ui icon menu" style="display: flex; flex-flow:row; margin: 0px">
        <a class="active item">
          Time
        </a>
        <a class="item">
          Priority
        </a>
        <a class="item">
          Category
        </a>
      </div>

      <a class="ui button item" style="padding-bottom: 0px; vertical-align: middle" ng-click="logout()">Log out</a>

    </div>

    <div id="tasklist">

      <div id="list-items">
        <div class="task ui item" data-tooltip="{{task.description}}" data-variation="small" ng-repeat="task in tasks" style="border-bottom: 1px solid grey; display: flex; flex-flow: row; justify-content: space-between">
          <div class="tag left floated content">
            <i class="ui sun icon"></i>
          </div>
          <div class="description left floated content">
            {{task.task_name}}
          </div>
          <div class="deadline right floated content">
            {{task.date}}
          </div>
          <div class="right floated content" style="padding-left: 50px">
            <i type="checkbox" class="ui circular checkmark icon" ng-click="checkTask(task.id, task.checked)"></i>
          </div>
          <div class="right floated content">
            <i class="ui circular remove icon" ng-click="deleteTask(task.id)"></i>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>




<div id="alarm" class="ui basic modal center aligned" style="display: flex; flex-flow: row;">
  <h2 class="ui header" style="padding-right: 10%">
    ALARM
  </h2>
  <h2 id="todo-header" class="ui top aligned header">
    <i class="circular announcement icon"></i>
  </h2>
</div>
